
<!DOCTYPE html>
<html lang="en">
  <head>
    {{- render "layout/meta.html" . | nindent 4 }}
  </head>
<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  {{- render "layout/header.html" . | nindent 2 }}
  <!-- ***** Header Area End ***** -->

  {{- render "layout/banner.html" . | nindent 2 }}

  {{ yield . | nindent 2 }}

  {{- render "layout/footer.html" . | nindent 2 }}
  <!-- Scripts -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/animation.js"></script>
  <script src="assets/js/imagesloaded.js"></script>
  <script src="assets/js/popup.js"></script>
  <script src="assets/js/custom.js"></script>
</body>
</html>