<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <title>:: Startr :: Free Startup landing page</title>
    <!-- style -->
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- carousel -->
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css">
    <!-- responsive -->
    <link href="css/responsive.css" rel="stylesheet" type="text/css">
    <!-- font-awesome -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- font-awesome -->
    <link href="css/animate.min.css" rel="stylesheet" type="text/css">
    <link href="css/popup.css" rel="stylesheet" type="text/css">
  </head>
   <body class="module-home" data-spy="scroll" data-target=".navbar">
	<!-- header -->
    	<header role="header" class="header-top" id="headere-top">
        	{{ render "layout/header.html" . }}
        </header>
    <!-- header -->
    <!-- main -->
    	<main role="main" id=" main-wrapper">
            {{ render "layout/sections.html" . }}
            {{ yield . }}
           <!-- footer -->
           <footer role="footer" class="footer text-center">
           {{ render "layout/footer.html" . }}
           </footer>
           <!-- footer -->
        </main>
    <!-- main -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js" type="text/javascript"></script>
	<script src="js/parallax.min.js" type="text/javascript"></script>
	<script type="text/javascript">
    	//$('.parallax-window').parallax({});
    </script>
    <script src="js/main.js" type="text/javascript"></script>
	<script src="js/owl.carousel.js" type="text/javascript"></script>
    <!-- <script type="text/javascript" src="js/jquery.mb.YTPlayer.js"></script> -->
	<script type="text/javascript" src="js/video.js"></script>
    <script src="js/custom.js" type="text/javascript"></script>
	<script src="js/jquery.magnific-popup.min.js" type="text/javascript"></script>
	<script src="js/jquery.contact.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
	<script src="js/html5shiv.min.js" type="text/javascript"></script>
  </body>
</html>