<!-- section-one -->
<section class="section-one text-center" id="section-one">
  <div class="container">
    <header role="title-page">
      <h4>What we do</h4>
      <h2>We make your business gain more<br/>revenue at a glance.</h2>
    </header>
    <article>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, ves<br/>
        tibulum at eros. Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero, a pharetra augue.<br/>
        Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas mollis interdum!</p>
    </article>

    <!-- four boxes  -->

    </div>
    <!-- four boxes -->

  </div>
</section>
<!-- section-one -->

<!-- section-two -->
{{ render "layout/production.html" . }}
<!-- section-two -->