{{ with .PageCtx.Banner }}
<section id="hero" class="hero hero-home bg-gray">
  <div class="container">
    <div class="row d-flex">
      <div class="col-lg-6 text order-2 order-lg-1">
        <h1>{{ .Title }}</h1>
        <p class="hero-text">{{ .SubTitle }}</p>
        <div class="CTA">
          {{- range $index, $item := .Links }}
          <a href="{{ $item.Url}}"
             {{- if eq $index 0 }}
             class="btn btn-primary {{ $index }} btn-shadow btn-gradient link-scroll"
             {{- else }}
             class="{{ $index }} btn btn-outline-primary"
             {{- end }}
          >{{ $item.Name}}</a>
          {{- end }}
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2"><img src="{{ .Image }}" alt="..." class="img-fluid"></div>
    </div>
  </div>
</section>
{{- end }}