
<div class="copyrights">
    <div class="container">
        <div class="row">

            <div class="col-md-7">
                <p>
                    {{- with .Footer.Copyright }}
                    Copyright &copy; {{ .Description }}
                    <span> | </span>
                    <a target="_blank" href="{{ .Url }}">{{ .Name }}</a>
                    {{- end }}
                    {{- with .Footer.Icp }}
                    <span> | </span>
                    <a href="https://beian.miit.gov.cn/" target="_blank">{{ .Name }}</a>
                    {{- end }}
                </p>
            </div>
            <div class="col-md-5">
                <p></p>
            </div>
        </div>
    </div>
</div>
